.main {
  display: flex;
  background: #1071FF;
  color: #fff;
  height: 60px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.main .leftSide {
  margin-left: 5px;
  flex: 40%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.main .rightSide {
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.main .leftSide  button {
  max-height: 40px;
  margin-left: 10px;
  display:none;
}

.main .leftSide  #hidden {
   display:flex;
}


 .main .leftSide .links .blueButton{
  width:90px;
  text-align:center;
  justify-content: center;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  border: #1071FF 1px solid;
  color: white;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  transition: .5s;
  border-radius: 10px;
}
.main .leftSide .links .blueButton:hover {
   box-shadow: 0 0 10px 0 #10FF58 inset, 0 0 10px 4px #10FF58;
  color: #10FF58;
}
.main .leftSide .links .blueButton:active {
  color: #ff1010;
  transition: .07s;
  border: #ff1010 1px solid;
}

@media only screen and (max-width: 1050px) {
  .main .leftSide .links .blueButton {
    font-size: 15px;
  }
}

@media only screen and (max-width: 950px) {
  .main .leftSide .links .blueButton {
    font-size: 13px;
  }
}

@media only screen and (max-width: 950px) {
  .main .leftSide {
    flex: 15%
  }

  .main .rightSide {
    flex: 85%
  }

  .main .leftSide button {
    display: flex;
  }
  .main .leftSide .links {
    display: none;
  }
  .main .leftSide  #hidden {
    position: absolute;
    left: 0px;
    top: 50px;
    height: 250px;
    width: 100%;
    max-height: 250px;
    background-color: #1071FF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .leftSide .links .blueButton{
    margin: 10px;
    font-size: 25px;
  }
}